.root{

    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;

}

#root_pane{

    -fx-background-image: url('/assets/background-image.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-border: none;
    -fx-background-color: transparent;

}