.root{

    -fx-font-family: "Press Start 2P";
    -fx-font-size: 14px;

}

#menu_pane{

    -fx-background-image: url('/assets/background-image.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-border: none;
    -fx-background-color: transparent;

}

.button{

    -fx-text-fill: black;

}

#title_text{

    -fx-fill: white;
    -fx-font-size: 35px;
    -fx-padding: 20px 0;

}

.leaderboard-list{

    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.leaderboard-list .viewport{

    -fx-background-color: transparent;

}

.leaderboard-list .list-cell{

    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;

    -fx-alignment: CENTER; 
    -fx-content-display: CENTER;
    -fx-padding: 20px 0;

}

.leaderboard-list .list-cell:empty{

    -fx-background-color: transparent;
    -fx-border-width: 0px;

}